/*
====================================
Font
====================================
*/
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fcf9ed;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: rgb(48, 8, 8);
}

h2 {
  text-align: center;
}

 h3 {
  margin-left: 30px;
 }

h4 {
  display: inline;
  color: red;
}

p {
    margin-left: 40px;
    font-size: 25px;
}

li {
    font-size: 20px;
    margin: 15px;
    padding: 3px;
    background-color:  #f5e7d8;
  }

/*
====================================
Links
====================================
*/
a:link {
    text-decoration: none;
	color: rgb(48, 8, 8);
}

a:hover {
    text-decoration: underline;
  }

  a:visited {
	color:rgb(48, 8, 8);
}

/*
====================================
Input
====================================
*/

input {
  padding: 10px;
  margin-left: 20px;
  width: 50px;
  font-size: 20px;
  text-align: center;
} 


/*
====================================
Table
====================================
*/

table {
  margin-left: 35px;
  border: 1px solid black;
}

td {
  padding: 10px;
}

/*
====================================
2 column grid
====================================
*/
.column {
  float: left;
  width: 30em;
  padding: 10px;
  margin-bottom: -25px;

}

.row {
  display: inline-block;
  clear: both;
  margin-bottom: -2px;
}

#button {
  display: block;
  margin: 20px auto 40px 300px;
 
}
